<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <!-- đọc cấu hình thiết bị-->
    <title>Blog</title>
    <!-- thự viện font icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
            <% if (user) { %>            
                <strong>id</strong>: <%= user.id %><br>
                <strong>name</strong>: <%= user.name %><br>
             <% } %>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    <% if (user) { %>
                        <!-- <strong>FB tokken</strong>: <%= user.facebook_token %><br>
                        <strong>FB id</strong>: <%= user.facebook_id %><br>
                        <strong>FB Link</strong>: <%= user.facebook_link %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>phone</strong>: <%= user.phone %><br>
                        <strong>password</strong>: <%= user.password %><br> -->
                        <img class="media-object" src="<%= user.avatar %>" alt="no avatar" style="width: 30px; height: 30px">
                    <% } %>


                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li class="" style="text-align: left"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Đăng xuất </a></li>
                        <li class="" style="text-align: left"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập </a></li>
                        <li class="" style="text-align: left"><a href="/signup"><span class="glyphicon glyphicon-pencil"></span> Đăng ký </a></li>
                        </ul>
                </div>
            </div>
            <!-- header 12 cột -->
            <div class="col-md-12">

                        
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/"> <img class="img-responsive" src="/img/logo-kool.jpg"></a>
                        </div>
                        <div class="col-md-6">
                        <a href="/"> <img class="img-responsive" src="/img/banner-kool.jpg"></a>
                        </div>
                    </div>
                    
                <header>
                    <!-- code navbar, menu-->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <!--  toggle nav -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                                <span class="sr-only">Toggle navigation</span> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"></span> 
                                </button>
                                <a class="navbar-brand" href="/">Kool</a> 
                            </div>

                            




                            <div class="collapse navbar-collapse" id="collapse">
                                <ul class="nav navbar-nav navbar-left"> <!-- navbar năm bên trái-->
                                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
                                    </li>
                                    <li><a href="/albums"><span class="glyphicon glyphicon-picture"></span> Albums </a>
                                    </li>
                                    <li  class="active"><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About </a>
                                    </li>
                                    <li><a href="/blog"><span class="glyphicon glyphicon-user"></span> Blog </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--   cho biết đang ở đâu, từ đâu đến-->
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a>
                            </li>
                            <li class="active">About</li>
                        </ol>
                    </nav>
                </header>
            </div>
            <!-- end  col-md-12-->
        </div>
            <!-- end  row-->    

            <!-- menu trái 2 cột, 10 cột content-->


        <div class="row">
            <div class="col-md-2">
                <nav class="navbar navbar-default" role="navigation">
                            <!--  toggle nav -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar">
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                    </div>

                    <div class="navbar-collapse" id="sidebar">
                        <ul class="nav nav-list">
                            <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Viết blog</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-picture"></i> Tạo albums</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i> Thành viên</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-calendar"></i> Xem lịch</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-map-marker"></i> Vị trí</a></li>
                        </ul>
                    </div>
                </nav>  
            </div>
            <!-- end col-md-2 -->


            <!-- content 10col -->
            <div class="col-md-10">
               	<h1 class="text-center">THÔNG TIN CỦA NHÓM</h1>
						<p>Tên của nhóm là BLUE, nhóm được tạo ra để học tập môn Ứng Dụng Phân Tán. Màu xanh dương thể hiện trí tuệ, sức mạnh, vững vàng và mang tính chuyên nghiệp cao, nó mang lại cảm giác an tâm. Bên dưới là các thành viên của nhóm</p>

				<div class="about-members">
						<div class="row">
							<div class="col-md-6">
								<img style="max-width:200px;" class="img-circle" src="/img/avatar1.jpg" alt="avatar">
								<p>MSSV: 1412558</p>
								<p>Họ Tên: Phạm Quốc Toàn</p>
								<p>Ngày Sinh: 22/04/1996</p>
								<p>Địa chỉ: 35/7 Đỗ Thừa Luông, Tân Quý, Tân Phú, Hồ Chí Minh, Việt Nam</p>
								<p>Email: bossdiemmaimai@gmail.com</p>
							</div>

							<div class="col-md-6">		
								<!-- đưa bản đồ vào web-->
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22170.524308998287!2d106.60569779865519!3d10.793533567520942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c07e7cf3aab%3A0x709df5647b350438!2zMzUgxJDhu5cgVGjhu6thIEx1w7RuZywgVMOibiBRdcO9LCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1491035210671" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>	
						</div>
				</div>


				<div class="about-members">
						<div class="row">		
							<div class="col-md-6">
								<img style="max-width:200px;" class="img-circle" src="/img/avatar2.jpg" alt="avatar">
								<p>MSSV: 1412657</p>
								<p>Họ Tên: Nguyễn Tường Vy</p>
								<p>Ngày Sinh: 20/11/1996</p>
								<p>Địa chỉ: 310 Tô Ký, Tân Chánh Hiệp, Quận 12, Hồ Chí Minh, Việt Nam</p>
								<p>Email: vytuong1120@gmail.com</p>
							</div>
							<div class="col-md-6">
									<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2329.8942750308775!2d106.61965315045026!3d10.857189377790807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x31752a22a9035491%3A0x7ada8704cd963d84!2zVMO0IEvDvSwgVMOibiBDaMOhbmggSGnhu4dwLCBRdeG6rW4gMTIsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!3m2!1d10.8580989!2d106.61879069999999!5e0!3m2!1svi!2s!4v1491035540842" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>		
						</div>
					</div>	
				
            </div> 
            <!--end content9col-->



        </div>
        <!-- end row -->


            <div class="row">
                <div class="col-md-12">
                    <footer>
                    <div class="row">
                        <div class="container">
                            <div class="text-center">
                            <ul class="list-inline banner-social-buttons">
                            <li><a href="https://twitter.com"><i class="fa fa-twitter-square" style="color:blue; font-size:48px"></i></a>
                            </li>
                            <li><a href="https://plus.google.com"><i class="fa fa-google-plus-official" style="color:red; font-size:48px"></i> </a>
                            </li>
                            <li><a href="https://facebook.com/langtudatinh2060"><i class="fa fa-facebook-official" style="color:blue; font-size:48px"></i></a>
                            </li>
                        </ul>
                        </div>
                        </div>
                     </div>
                          
                    <div>
                        <p class="copyright">2017 Powered By Blue Group, Theme By Bootstrap</p>
                    </div>
                </footer>
                <!-- end footer -->

                </div>
                <!-- end col-md-12 -->

            </div>
            <!-- end row -->

    </div>
    <!-- end container -->

</body>
</html>